In [1]:
import pandas as pd
import xml.etree.ElementTree as et

#### Define columns and rows variables to create a dataframe structure

In [2]:
paths = ['10-19-20s_706posts.xml', '10-19-30s_705posts.xml']

df_cols = ["class", "user", "pos", "word"]
df_rows = []

#### Define a function to read the .xml file and get all rows

In [3]:
def get_rows(file):
    
    xtree = et.parse(file)
    xroot = xtree.getroot() 
    posts = list(xroot[0])

    for post in posts:
        post_class = post.attrib.get("class")
        post_user = post.attrib.get("user")
        post_terms = post[0]
        for t in post_terms:
            pos = t.attrib.get('pos')
            word = t.attrib.get('word')
            df_rows.append(dict(zip(df_cols, [post_class, post_user, pos, word])))

#### Create the dataframe and describe the data in it

In [4]:
for p in paths:
    get_rows(p)
    
df = pd.DataFrame(df_rows, columns = df_cols)
df.describe().loc[['count', 'unique']]

       class  user   pos  word
count   5986  5986  5986  5986
unique    15   144    60  1467

#### Let's see what's inside

In [5]:
df.head()

       class            user  pos  word
0  Statement  10-19-20sUser7   RB   now
1  Statement  10-19-20sUser7  PRP    im
2  Statement  10-19-20sUser7  VBD  left
3  Statement  10-19-20sUser7   IN  with
4  Statement  10-19-20sUser7   DT  this

In [6]:
df.tail()

          class             user  pos   word
5981  Statement  10-19-30sUser17  VBP   know
5982  Statement  10-19-30sUser17   DT   each
5983  Statement  10-19-30sUser17   JJ  other
5984  Statement  10-19-30sUser17    :   ....
5985  Statement  10-19-30sUser17   UH    lol

#### ER-diagram

![Database scheme](scheme.png)